<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        background-color: cornflowerblue;
        color: white;
      }
    </style>
    <!-- <h1>Datos de usuario BBVA</h1>
    <h2>Hello my name is [[name]]!</h2>
    <h2>Hello my ID is [[id]]!</h2> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1>Sus cuentas</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">IBAN</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}">
          <tr>
            <td>{{item.IBAN}}</td>
            <td>{{item.balance}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  
    
    <iron-ajax
       auto
       url="http://localhost:3003/apitechu/v3/login"
       handle-as="json"
       on-response="handleResponse">
    </iron-ajax>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          Iban: {
            type: String
          },
          Balance: {
            type: Number
          },
          accounts: {
            type: Array
          }
        };
      }
      handleResponse(data) {
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }  
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
