<p>tel: <input type="tel" placeholder="format: (xxx) xx-xx-xxx" /> </p>
<p>date: <input type="date" /> </p>
<p>email: <input type="email" /> </p>
<p>color: <input type="color" /> </p>
<p>number: <input type="number" max="10" min="0" value="5" /> </p>
<p>range: <input type="range" /> </p>
<p>search: <input type="search" /> </p>
<p>time: <input type="time" /> </p>
<input name="first" />
<input name="second" autofocus />
<input type="submit" value="Send" />
<input type="text" id="SSNumber" autocomplete="off"/>
