<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        background-color: cornflowerblue;
        color: white;
      }
    </style>
    <h1>Datos de usuario BBVA</h1>
    <h2>Hello my name is [[name]]!</h2>
    <h2>Hello my ID is [[id]]!</h2>

    
    <iron-ajax
       auto
       url="http://localhost:3003/apitechu/v3/users/{{id}}"
       handle-as="json"
       on-response="handleResponse">
    </iron-ajax>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          id: {
            type: Number
          }
        };
      }
      handleResponse(data) {
        console.log(data.detail.response);
        this.id = data.detail.response[0].id;
        this.name = data.detail.response[0].first_name;
      }  
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
