<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="otro-component">
  <template>
    <style>
      :host {
        display: block;
        background-color: red;
        color: white;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h2>Hello my name is [[name]]!</h2>
    <h2>Hello my age is [[age]]!</h2>
    <input type="text" value="{{name::input}}">
    <input type="range" min="18" max="100"  value="{{age::input}}">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OtroComponent extends Polymer.Element {
      static get is() { return 'otro-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Macchu Pichu'
          },
          name: {
            type: String,
            value: 'Renzo'
          },
          age: {
            type: Number,
            value: '18'
          }
        };
      }
    }

    window.customElements.define(OtroComponent.is, OtroComponent);
  </script>
</dom-module>
